/*
    Box Model
    -solo funciona en elementos 
    display block
    -div la tiene por defecto
    -funciona si:
        -los elementos tienen contenido
    comportamiento por defecto:
    ocupa todo el ancho de la pantalla 
    altura depende del contenido
    -funciona si: 
    los elementos tienen contenido 
    o tienen tamaño definido    
*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.box{
    border-top-color: cadetblue;
    border-top-style: groove;
    border-top-width: 10px;

    border-bottom-color: rgb(255, 0, 140);
    border-bottom-style: groove;
    border-bottom-width: 10px;
   
    border-right-color: rgb(70, 103, 30);
    border-right-style: groove;
    border-right: 10px;

    border-left-color: rgb(146, 199, 0);
    border-left-style: groove;
    border-left-width: 10px;
}

.box1{
    margin: 20px 40px;
    background: green;   
    padding: 50px 45px 3px;
    display: block;     
    height: 200px;       
    width: 300px;
    box-sizing: border-box;
    overflow: hidden;
    border-bottom-left-radius: 50px;
    border-top-left-radius: 10px;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 20px;
}

.box2{
    background: cornflowerblue;
    padding: auto;
    display: block;
    height: 200px;
    width: 200px;
    opacity: 0.5;
    margin-top: 100px;
    border-radius: 50%;
    text-align: center;
    justify-content: center;      

}


